<div class="fullpage" id="myFullpage">


        <section class="bio section">

                <div class="about-me">

                    <h1 class="about-me-h1">About me</h1>
                    <p>
                    Hello 👋, <br> <br>
                    my name is Desmond, I am a Front End web developer based in Nigeria.

                    I am Designer by day Developer by night, I enjoy building fascinating products that solve real world problems.

                    Here are a few technologies I work with:
                    </p>


                </div>

                <div class="skills">
                    <ul>
                        <li>Angular</li>
                        <li>HTML & (S)CSS</li>
                        <li>JAVASCRIPT (ES6+)</li>
                        <li>Node.Js</li>
                        <li>TypeScript</li>
                        <li>PHP</li>
                        <li>MySQL</li>
                    </ul>

                    <ul>
                        <li>Figma</li>
                        <li>PhotoShop</li>
                        <li>Adobe Illustrator</li>
                        <li>VSCode</li>
                        <li>Trello</li>
                    </ul>
                </div>

                <div class="img">

                </div>

        </section>


    <section class="section">
        <h1>blah blah blah</h1>
    </section>
</div>
