<nav class="nav">
   
    <a href="mailto:desezo@gmail.com"><Img class="email" src="../../assets/img/gmail-croped.png"></a>

</nav>

<section class="social-icons">
    <a href=""><Img class="github" src="../../assets/img/github.svg"></a>
    <a href=""><Img class="codepen" src="../../assets/img/codepen.svg"></a>
    <a href=""><Img class="dribbble" src="../../assets/img/dribbble.svg"></a>

</section>

<section class="bottom-nav">
    <a class="bottom-nav-links" [routerLink]="['/portfolio']" routerLinkActive="active" >Portfolio</a>
    <a class="bottom-nav-links" [routerLink]="['/about']" routerLinkActive="active">About Me</a>
    <a class="bottom-nav-links" href=""  >Resume</a>
</section>