
<div class="grid-group">
    <div class="work-thumb one">
      <img src="../../../assets/img/project-imgs/desmond.png" alt="" loading="lazy">
    </div>
    <div class="work-thumb one">
      <img src="../../../assets/img/project-imgs/ekiedo.png" alt="" loading="lazy">
    </div>
    <div class="work-thumb">
      <img src="../../../assets/img/project-imgs/cloudy.png" alt="" loading="lazy">
    </div>
    <div class="work-thumb">
      <img src="../../../assets/img/project-imgs/tedxwebsite.PNG" alt="" loading="lazy">
    </div>
    <div class="work-thumb">
      <img src="../../../assets/img/project-imgs/easychop.png" alt="" loading="lazy">
    </div>
    <div class="work-thumb">
      <img src="../../../assets/img/project-imgs/Redit.png" alt="" loading="lazy">
    </div>
</div>
